OnlineStore.UserWorks/Service References/UserWorksService/UserWorksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StartTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartTimeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndTimeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestByUsernameResult" type="tns:ArrayOfUserWork" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserWork">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserWork" nillable="true" type="tns:UserWork" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserWork">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartTime" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndTime" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartTimeSoapIn">
    <wsdl:part name="parameters" element="tns:StartTime" />
  </wsdl:message>
  <wsdl:message name="StartTimeSoapOut">
    <wsdl:part name="parameters" element="tns:StartTimeResponse" />
  </wsdl:message>
  <wsdl:message name="EndTimeSoapIn">
    <wsdl:part name="parameters" element="tns:EndTime" />
  </wsdl:message>
  <wsdl:message name="EndTimeSoapOut">
    <wsdl:part name="parameters" element="tns:EndTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestByUsername" />
  </wsdl:message>
  <wsdl:message name="GetLatestByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWorksServiceSoap">
    <wsdl:operation name="StartTime">
      <wsdl:input message="tns:StartTimeSoapIn" />
      <wsdl:output message="tns:StartTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndTime">
      <wsdl:input message="tns:EndTimeSoapIn" />
      <wsdl:output message="tns:EndTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestByUsername">
      <wsdl:input message="tns:GetLatestByUsernameSoapIn" />
      <wsdl:output message="tns:GetLatestByUsernameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWorksServiceSoap" type="tns:UserWorksServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartTime">
      <soap:operation soapAction="http://tempuri.org/StartTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndTime">
      <soap:operation soapAction="http://tempuri.org/EndTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestByUsername">
      <soap:operation soapAction="http://tempuri.org/GetLatestByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWorksServiceSoap12" type="tns:UserWorksServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartTime">
      <soap12:operation soapAction="http://tempuri.org/StartTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndTime">
      <soap12:operation soapAction="http://tempuri.org/EndTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestByUsername">
      <soap12:operation soapAction="http://tempuri.org/GetLatestByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWorksService">
    <wsdl:port name="UserWorksServiceSoap" binding="tns:UserWorksServiceSoap">
      <soap:address location="http://online-store.com/WebServices/UserWorksService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWorksServiceSoap12" binding="tns:UserWorksServiceSoap12">
      <soap12:address location="http://online-store.com/WebServices/UserWorksService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>